<div id="hero">
  <section class="container">
    <h1 class="hero-title">
      Bonjour! Je suis <span class="text-color-main name">MARIE Noeline</span>
    </h1>
    <br />
    <h2>Développeuse Junior, Java & JS</h2><br />

    <p class="hero-cta"><br />
      <a href="https://raw.githubusercontent.com/Elshindr/Portfolio_BTSSIO/main/docs/assets/CV_BTS_Dev_Noeline_MARIE.pdf"
        class="cta-btn cta-btn--hero">Get in touch</a>
    </p>
  </section>

  <a href="#about" class="scroll-down-link" aria-label="scroll-down">
    <div class="scroll-down"></div>
  </a>
</div>


<!-- About Section -->
<section id="about">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <div class="row about-wrapper">
      <div class="about-wrapper__image">
        <img id="img-about" class="img-fluid" src="./assets/profile.png" alt="Profile Image" />
      </div>
      <div class="about-wrapper__info">

        <p class="about-wrapper__info-text" style="text-align: center;">
          Aimant créer des solutions numériques utiles pour autrui, je serais ravie de vous proposer mes services!

          <span class="about-wrapper__cta">
            <a href="./assets/CV_Dev_Noeline_MARIE.pdf" class="cta-btn cta-btn--resume">View Resume</a>
          </span>
        </p>

      </div>
    </div>
  </div>
</section>
<!-- /END About Section -->
