<div class="navbar-fixed">
  <nav class="blue-grey darken-4">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-small gradient text-color-main" routerLink="home">HOME</a></li>
        <li><a class="waves-effect waves-light btn-small gradient text-color-main" routerLink="formations">FORMATIONS</a></li>
        <li><a class="waves-effect waves-light btn-small gradient text-color-main" routerLink="parcours">PARCOURS</a></li>
        <li><a class="waves-effect waves-light btn-small gradient text-color-main" routerLink="experiences">EXPERIENCES</a></li>
        <li><a class="waves-effect waves-light btn-small gradient text-color-main" routerLink="projets">PROJETS</a></li>
      </ul>
      <a class="brand-logo right" routerLink="home"><i class="material-icons medium logo text-color-main">bug_report</i></a>
    </div>
  </nav>
</div>