@import "../../../assets/styles/variables.scss";
*{
  font-family: "Montserrat", sans-serif;
}
/*
.gradient{
  background: -webkit-linear-gradient(135deg, #00b09b 0%, #96c93d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3em;
}

.gradient:hover{
  background: -webkit-linear-gradient(135deg, #b0008a 0%, #3d49c9 100%);
}*/